.par{
    background-color: #FDF0E9;
    width: 1220px;
    height: 336px;
    margin-left: 150px;
    margin-top: 200px;
    border-radius: 10px;
    margin-bottom: 100px;
}

#star{
    width: 10%;
    height: 20%;
    position: absolute;
    margin-top: 130px;
    margin-left: 220px;
}
#gift{
    width: 4%;
    height: 5%;
    position: absolute;
    margin-top: 180px;
    margin-left: 265px;
}

.par h5{
    color: #EF6D58;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    margin-top: 90px;
    margin-left: 80px;
}
.par h4{
    color: #391400;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    margin-top: 20px;
    margin-left: 80px;
}
.par button{
    color: #fff;
    background-color: #EF6D58;
    margin-left: 80px;
    margin-top: 20px;
}
#block{
    position: absolute;
    margin-left: 160px;
    margin-top: -150px;
}

.child{
    background-image: url("assets/Path1.png");
    height: 600px;
    width: 500px;
    background-repeat: no-repeat;
    margin-left: 850px;
    margin-top: -250px;
}

.child img{
    width: 48%;
    margin-left: 60px;
    margin-top: -90px;
}