.pricing{
    color: #EF6D58;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
}
.free{
    height: 512px;
    width: 391px;
    border: 1px solid #F3D1BF;
    border-radius: 5px;
}
.two{
    height: 512px;
    width: 391px;
    border: 1px solid #F3D1BF;
     border-radius: 5px;
}
.one{
    height: 600px;
    width: 391px;
    border: 1px solid #f3d1bf;
    margin-top: -88px;
    background-color: #fff;
     border-radius: 5px;
}
.pricing-section {
  background-color: #F9E5DA;
  
}
.title{
    color: #EF6D58;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 3px;
}
.sub-title{
    color: #391400;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}
.description{
    color: #391400A3;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}
.btn-contact{
    background-color: #fff;
    color: #391400;
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    padding: 15px;
}
.spe-btn{
    background-color:#EF6D58;
    color: #fff;
}
.pop{
    border-radius: 50px;
    margin-top: 30px;
}