.play img{
    margin-top: 100px;
    margin-left: 135px;
    margin-bottom: 100px;
    width: 570px;
    height: 368px;
}
#time{
    height: 30px;
    width: 50px;
    margin-top: -180px;
    margin-left: 150px;
}
#play{
    height: 120px;
    width: 120px;
    position: absolute;
    margin-top: -340px;
    margin-left: 160px;
}
#triangle{
    height: 30px;
    width: 30px;
    position: absolute;
    margin-top: -295px;
    margin-left: 205px;
}
.play p{
    width: 200px;
}

.desc-video{
    margin-top: 150px;
    margin-left: 120px;
}

.desc-video h5{
    color: #EF6D58;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 32px;
    margin-bottom: 20px;
}

.desc-video h3{
    color: #391400;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 30px;
}

.desc-video p{
    color: #391400A3;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}